
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
   color: black;

}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    font-weight: bolder;
}


.content{
    margin-top: 60px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;

}
.content .textbox h2{

    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

}
.content .textbox h2 span{
    color: black;
    font-size:1.2em;   
    font-weight: 900;
    font-style: italic;
    letter-spacing: -9.7px;
    
}

.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 14px;
    background: black;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}
.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

}
.content .imgbox img{
    max-width: 500px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: -248px;
    transform: translateX(-50%);
    
}
.thumb img{
    height: 80px;
    width: 100px;
}
.thumb li{
    list-style:none ;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.sci{
position: absolute;
top: 50%;
right: 30px;
transform: translateY(-50%);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.sci li{
    list-style: none;
    

}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2b2d;
    clip-path: circle(650px at right 800px);
}
@media(max-width:991px)
{
header{
    padding: 20px;
}
header .logo{
    max-width: 60px;
}
header ul{
    display: none;
}
.toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background:url("./Assets/menu.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter:invert(0);
    z-index: 11;

}
.toggle.active{
    position: fixed;
    right: 20px;
    background:url("./Assets/close.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;  
}
header ul.navBar.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
}
header ul li a{
    font-size: 1.5em;
    margin: 5px 0 ;

}
section{
padding: 20px 20px 120px;

}
.content{
    flex-direction: column;
    margin-top: 100px;
}
.content .imgbox{

    max-width: 100%;
}
.content .imgbox img{
    max-width: 400px;
}
.content .textbox h2{
    font-size: 2.5em;
    margin-bottom: 15px;
}
.content .textbox {
    max-width: 100%;
}
.thumb li img{
    max-width: 90px;
}
.circle{
    clip-path: circle(320px at center bottom);
}
.content .textbox h2 span{
    letter-spacing: -5.7px;

}
.sci{
    background: #2a2b2d;
    right: 0;
    width: 50px;
    border-radius: 5px;
    width: 50px;
}


}